# Node modules
node_modules/
backend-production/
frontend/
# Logs
logs/
*.log

# Env files
.env
.env.*

# Build outputs
dist/
build/
out/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Expo specific
apps/mobile/.expo/
apps/mobile/.expo-shared/

# Next.js
apps/web/.next/
apps/web/out/

# API
backend/api/.cache/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
